<h4><%= @word.word %></h4>

<ul>
  <% if @word.definitions.length > 0 %>
    <% @word.definitions.each do |definition| %>
      <li><%= definition %>
        <form action="/words/<%= @word.id %>" method="delete">
        <button href="/words/<%= @word.id %>" name="<%= @word.definitions.index(definition) %>">delete</button>
        </form>
      </li>
    <% end %>
<% else %>
  <p>There are no defintions listed for this word yet.</p>
<% end %>
</ul>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="definition">Add a definition</label>
    <textarea name="definition" class="form-control" type="text" rows="5" cols="60">
    </textarea>
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>


<a href="/">Click here to go to word list</a>
