<h4><%= @word.word %></h4>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit">Delete word</button>
</form>

<form class="" action="/words/<%= @word.id() %>/edit" method="post">
  <button type="submit" href="/words/<%= @word.id() %>/edit">Edit Word</button>
</form>
  <% if @word.definitions.any? %>
  <ul>
    <% @word.definitions.each do |definition| %>
      <li><a href="/words/<%= @word.id %>/definitions/<%= definition.id %>"><%= definition.definition %></a></li>
      <% end %>
  </ul>
<% else %>
  <p>There are no definitions listed for this word yet.</p>
<% end %>
</ul>

<form action="/words/<%= @word.id %>" method="post">
  <div class="form-group">
    <label for="definition">Add a definition</label>
    <textarea name="definition" class="form-control" type="text" rows="5" cols="60">
    </textarea>
  </div>
  <button type="submit" class="btn">Add definition</button>
</form>


<a href="/">Click here to go to word list</a>
